* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  text-align: center;
  margin: 30px auto;
  max-width: 600px;
}
.note-section {
  display: flex;
  justify-content: space-between;
}
h2 {
  color: fuchsia;
  margin-top: 10px;
}
.notes {
  border: 1px solid plum;
  padding: 20px;
  min-width: 250px;
  color: rgb(255, 60, 255);
}
.note {
  border-bottom: 1px solid plum;
  padding: 10px;
}
.add-note {
  color: rgb(255, 60, 255);
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.add-note {
  border: 1px solid plum;
  flex: 1;
  padding: 20px;
  margin-left: 10px;
}
.add-note input {
  width: 100%;
  margin-bottom: 10px;
}
.add-note button {
  width: 100%;
}
.edit-note {
  border: 1px solid plum;
  margin-top: 20px;
  padding: 10px;
}
.edit-note input {
  width: 100%;
  margin-bottom: 10px;
}
.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
